.hero {
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  color: white;
  text-align: center;
}

.animateFadeIn {
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(8px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
.wrapper {
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
}
